body {
    background-color: rgb(0, 0, 0);
  }
  

  header {
    background-color: #5e5c5c;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 1000;
}

.item {
  position: absolute;
  top: 0;            
  right: 0;          
  background-color: #f0f0f0; 
  padding: 10px;    
  border: 1px solid #ccc; 
}
