body {
  background-color: rgb(109, 109, 109);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0
  }
  
  header {
    border: 5px solid rgb(0, 0, 0); 
    padding: 20px; 
    width: 300px; 
    text-align: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.cb{
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  position: absolute; 
  top: 0; 
  right: 0;
  padding: 10px; 
  gap: 15px; 
}

  