body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
  }
  
  header {
    border-radius: 10px 20px;
    border-width: 20px;
    border-bottom: rgb(114, 114, 114);
  }

.cb{
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  position: absolute; 
  top: 0; 
  right: 0;
  padding: 10px; 
  background-color: #000000; 
  gap: 15px; 
}

